@page "/"
@using JobBank.Components.Pages.Home.ViewModels
@using JobBank.Components.Pages.Init

@inherits ViewModelBase<IHomeViewModel>

@rendermode InteractiveServer

<PageTitle>@(ViewModel.Title)</PageTitle>

<h1>@(ViewModel.Title)</h1>

<div style="height:600px; max-width:900px;">
    <Chart Config="ViewModel.Config" @ref="ViewModel.JobChart" />
</div>