@page "/"

@inject JobBank.Components.Pages.Home.ViewModels.IHomeViewModel HomeViewModel
@rendermode InteractiveServer

<PageTitle>@(HomeViewModel.Title)</PageTitle>

<h1>@(HomeViewModel.Title)</h1>

<Chart Config="HomeViewModel.Config" @ref="HomeViewModel.JobChart"></Chart>