@page "/jobposts"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using JobBank.Models
@using JobBank.Data
@using System.Linq.Expressions
@implements IAsyncDisposable
@inject IDbContextFactory<JobBank.Data.EmploymentBankContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="jobposts/create">Create New</a>
</p>

<div class="m-1">
    <label>
        <input type="checkbox" @oninput="LoadRejectedApplication" />
        Load Rejected Only
    </label>
</div>

<QuickGrid Class="table" Items="jobPostsQueriable" @ref="jobPostGrid" >   
    <PropertyColumn Property="jobpost => jobpost.Title" Sortable="true" />
    <PropertyColumn Property="jobpost => jobpost.IsApplied" Title="Applied" />
    <PropertyColumn Property="jobpost => jobpost.Company" Sortable="true" />
    <PropertyColumn Property="jobpost => jobpost.ActionToTake" Title="To Do" />
    <PropertyColumn Property="jobpost => jobpost.JobType" Title="Work">
        <ColumnOptions>
            <input type="search" @bind="jobTypeSearch" placeholder="Filter by Job Type" />
        </ColumnOptions>       
    </PropertyColumn>
    <PropertyColumn Property="jobpost => jobpost.ApplicationDate" Format="MM/dd/yyyy" Title="Submitted" Sortable="true"/>
    <PropertyColumn Property="jobpost => jobpost.InterviewDate" Format="MM/dd/yyyy" Title="Interview Date" Sortable="true" />
    <PropertyColumn Property="jobpost => jobpost.InterviewOutcome" Title="Outcome" />
    
    <TemplateColumn Context="jobpost">
        <a href="@($"jobposts/edit?id={jobpost.Id}")">Edit</a> |
        <a href="@($"jobposts/details?id={jobpost.Id}")">Details</a> |
        <a href="@($"jobposts/delete?id={jobpost.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private QuickGrid<JobPost>? jobPostGrid;
    private IQueryable<JobPost> jobPostsQueriable => context.JobPost
        .AsQueryable()
        .Where(Predicate!);

    private string jobTypeSearch = string.Empty;
    private bool applicationDeclined;
    private EmploymentBankContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    private System.Linq.Expressions.Expression<Func<JobPost, bool>>? Predicate 
    { 
        get
        {
            return jp => applicationDeclined
            ? !string.IsNullOrEmpty(jobTypeSearch)
                ? jp.ApplicationDeclined == true && jp.JobType!.Contains(jobTypeSearch)
                : jp.ApplicationDeclined == true
            : !string.IsNullOrEmpty(jobTypeSearch)
                ? jp.JobType!.Contains(jobTypeSearch)
                : true;
        }
    }

    private void LoadRejectedApplication(ChangeEventArgs ev)
    {
        applicationDeclined = (bool)ev.Value!;
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
